
.h1{
    font-size: x-large;
    color: purple
}

.text{
    background-color:black;
   
}

.h2{
    margin-left: 100px;
    margin-top: -230px
    

}
.move{
    margin-left: -200px
}